@media (min-width: 768px) {
    .nav-links {
        display: flex;
        gap: 1.5rem;
    }
    .menu-btn {
        display: none;
    }
    
    .benefits-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .resources-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    main {
        grid-template-columns: 1fr 1fr; 
    }

    .faqs {
        margin-top: 125px;
    }

    .contact {
        max-width: 40rem; 
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center; 
        padding: 80px;
    }
    
    .contact form {
        width: 100%; 
        max-width: 30rem; 
        background: #e3e6e8;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    
    
    .title {
        display: flex;
        justify-content: center;
        margin-top: 0;
        font-size: 35px;
    }

    .sociallinks {
        width: 35px;
        height: auto;
        margin: 0 10px;
        text-decoration: none;
        display: flex;
        align-items: flex-start;
        position: absolute;
        bottom: 20px;
        right: 150px;
    }
    
    .fb, .twt, .insta {
        width: 40px;
        margin: 0 5px;
    }

    

}