:root {
    --primary-color: #2C3E50;
    --secondary-color: #BDC3C7;
    --accent1-color: #2C3E50;
    --background-color: #ECF0F1;
    --heading-font: 'Merriweather', serif;
    --text-font: 'Roboto', sans-serif;
}

header {
    background-color: var(--primary-color);
    display: grid;
	grid-gap: 1rem;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 15px #333;
}

header,
main {
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
}

nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
}

nav a {
	display: block;
	color: var(--background-color);
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: larger;
}

nav a:hover {
	text-decoration: underline;
	color: var(--secondary-color);
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: var(--background-color);
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu.open::after {
	content: "❌";
}

.navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	list-style: none;
	color: #fff;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

.open a {
	display: block;
}

.active::before { 
	content: "📍";
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: var(--accent1-color);
    text-align: center;
}

h1 {
    color: var(--background-color);
}

h2 {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    margin-top: 50px;
	margin-bottom: 40px;
	font-size: 2rem;
}

.temple-card {
	border: 1px solid rgba(46, 46, 46, 0.1);
	padding: 20px;
	margin-bottom: 20px;
	margin-right: 10px;
	background-color: rgba(230, 230, 230, 0.959);
}

.temple-card h2 {
	font-size: 1.5rem;
	margin-top: 8px;
	margin-bottom: 30px;
}

.temple-card img {
	box-shadow: 0 0 10px #333;
}

footer {
    margin-top: 10px;
    height: 60px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: relative;
    padding-top: 5px;
    padding-bottom: 25px;
    box-shadow: 0 0 15px #333;
}
