@media (max-width: 550px) 
{
    :root {
        --primary-color: #0038A8; 
        --secondary-color: #CE1126; 
        --accent1-color: #FFD700; 
        --background-color: #F5F5F5; 
        --heading-font: 'Poppins', sans-serif; 
        --text-font: 'Lato', sans-serif;
    }

    body {
        display: grid;
        height: 100vh;
        justify-items: center;
        align-items: center;
        background-color: #f0f8ff;
        margin: 0;
        font-family: var(--text-font);
    }

    header {
        background-color: var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        color: var(--background-color);
        font-family: var(--heading-font);
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }

    h1 {
        margin: 0;
    }

    .space {
        background-color: var(--secondary-color);
        height: 10px;
        width: 100%;
    }

    .hero {
        display: flex;
        justify-content: center;
        background-color: var(--primary-color);
        padding-bottom: 5px;
    }

    .data, .weather {
        display: grid;
        grid-template-rows: auto 1fr;
        justify-items: center;
        text-align: left; 
        background-color: var(--background-color);
        padding: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        width: 90%;
        max-width: 600px;
        padding-bottom: 20px;
    }

    h2 {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 2rem;
        color: #292929;
        text-align: center; 
    }

    .info {
        display: grid;
        grid-template-columns: auto auto; 
        gap: 10px; 
        width: 100%;
    }

    .label {
        font-weight: bold;
        text-align: right;
    }

    .value {
        text-align: left;
    }

    .icon {
        display: flex;
        justify-content: center;
        padding-bottom: 5px;
    }

    footer {
        background-color: var(--primary-color);
        color: var(--background-color);
        text-align: center;
        padding: 10px;
        width: 100%;
    }

}