
header {
    background-color:  #2C3E50;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}    

p {
    display: flex;
    justify-content: center;
    margin-left: 15px;
    font-size: large;
}

footer {
    margin-top: 340px;
    height: 60px;
    text-align: center;
    background-color: #2C3E50;
    color:#BDC3C7;
    position: relative;
    padding-top: 5px;
    padding-bottom: 25px;
    border-radius: 5px;
}
